@mixin color($color) {
    color: $color;
    border-color: $color;
}

.is-visible {
    visibility: visible;
}

.is-hidden {
    display: inherit;
    visibility: hidden; 
}

.color-body {
    @include color($color-body);
}

.color-success {
    @include color($color-success);
}

.color-danger {
    @include color($color-danger);
}
