input,
button,
select,
textarea {
    padding: 0;

    border: none;
    color: $color-body;
    background: transparent;
    box-shadow: none;
    font-size: inherit;
    font-family: $font-family-body;

    &:focus,
    &:focus-visible {
        outline: transparent;
    }

    &:disabled {
        opacity: 0.5;
    }
}

button,
.button {
    border-bottom: 0.2em solid;
    font-weight: $font-weight-bold;

    &:hover,
    &:focus,
    &:focus-visible {
        cursor: pointer;
    }
}

textarea {
    width: 100%;
    height: fit-content;
    resize: vertical;
}
