#nav .page {
    opacity: 0.5;

    .slot {
        opacity: 0;
    }

    &:hover, &:hover .slot {
        opacity: 1;

        .slot a {
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.slide {
    filter: opacity(0.25);
}

.slide.current {
    filter: opacity(1);
    transition: filter 0.2s ease;
}