#nav {
    a {
        opacity: 0.5;

        &:hover,
        &.current {
            opacity: 1;
        }
    }
}

.slide {
    filter: opacity(0.25);
}

.slide.current {
    filter: opacity(1);
    transition: filter 0.2s ease;
}