.tray {
    height: 100svh;
    box-sizing: border-box;
    scrollbar-gutter: stable;

    display: flex;
    gap: 1.5rem;

    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    .slide {
        width: 100%;
        max-width: 1024px;
        box-sizing: border-box;
    
        position: relative;
        flex-shrink: 0;
    
        scroll-snap-align: center;

        filter: opacity(0.5);

        &.current {
            filter: opacity(1);
            transition: filter 0.2s ease-in;
        }
    }
}
